section.clients
  .container
    .clients__inner
      .clients__header
        .heading
          h2.heading__title Клуб клиентов
          .heading__subtitle присоединяйтесь!
      .clients__list
        .clients__item
          img(src="img/content/metall-company.png"
              
              alt="")
        .clients__item
          img(src="img/content/depart-culture.png"
              
              alt="")
        .clients__item
          img(src="img/content/commersant.png"
              alt="")
        .clients__item
          img(src="img/content/rbc.png"
              alt="")
        .clients__item
          img(src="img/content/depart-study.png"
              alt="")
        .clients__item
          img(src="img/content/magnezit.png"
              alt="")
        .clients__item
          img(src="img/content/blag-fond.png", alt="")
        .clients__item
          img(src="img/content/interos.png", alt="")